.footer {
    min-height: 260px;
    padding-top: 50px;
    background: linear-gradient(180deg, #7CFF99 0%, rgba(54, 184, 7, 0.85) 100%);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        padding-bottom: 20px;
    };
    &__info {
        max-width: 377px;
    };
    &__tel {
        a {
            color: #fff;
            text-decoration: none;
        };
    };
    &__descr {
        max-width: 377px;
        span {
            text-decoration: underline;
        };
    };
    &__social {
        max-width: 260px;
    };
    &__links {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
    };
};